# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.lo

# Executables
*.exe
*.out
*.app

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
doc/Makefile
doc/Makefile.in
doc/*.1
doc/*.3
doc/*.7
libtool
.deps
.libs
src/Makefile
src/Makefile.in
src/malamute
src/mshell
src/platform.h.in~
src/stamp-h1
src/mlm_selftest
src/mlm_selftest.trs
src/mlm_tutorial
src/mlm_tutorial.trs
platform.h.in
doit*
*.la
*.pc
core
src/.dirstamp
src/mlm_perftest
src/malamute.service
src/malamute.cfg
issue_81
issue_84
issue_87
issue_93
test-suite.log

CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
cmake_install.cmake
install_manifest.txt
platform.h
platform.h.in

